<div id="slider1">
    <ul id="slider1Content">
        <li class="slider1Image">
                <a href=""><img src="/assets/example_images/wide/1.jpg" alt="1" /></a>
                <span class="left"><strong>Title text 1</strong><br />Content text...</span></li>
        <li class="slider1Image">
                <a href=""><img src="/assets/example_images/wide/2.jpg" alt="2" /></a>
                <span class="right"><strong>Title text 2</strong><br />Content text...Content text...Content text...Content text...Content text...Content text...Content text...Content text...Content text...Content text...Content text...</span></li>
        <li class="slider1Image">
                <img src="/assets/example_images/wide/3.jpg" alt="3" />
                <span class="right"><strong>Title text 2</strong><br />Content text...</span></li>
        <li class="slider1Image">
                <img src="/assets/example_images/wide/4.jpg" alt="4" />
                <span class="left"><strong>Title text 2</strong><br />Content text...</span></li>
        <li class="slider1Image">
                <img src="/assets/example_images/wide/5.jpg" alt="5" />
                <span class="right"><strong>Title text 2</strong><br />Content text...</span></li>
        <div class="clear slider1Image"></div>
    </ul>
</div>